extends layout

block content
    .w3-card-4
        header.w3-container.w3-teal
            h1= titulo
                a.w3-btn.w3-round.w3-grey(href="/compositores/registo") +

        .w3-container
            table.w3-table-all
                tr
                    th Nome
                    th Bio
                    th Data de Nascimento
                    th Data de Obito
                    th Periodo
                    th Actions

                each compositor in compositores
                    tr
                        td 
                            a(href="/compositores/"+compositor.id) #{compositor.nome}
                        td #{compositor.bio}
                        td #{compositor.dataNasc}
                        td #{compositor.dataObito}

                        each periodo in periodos
                            if periodo.id == compositor.periodo 
                                td #{periodo.name}

                        td 
                            a.w3-button.w3-blue(href="/compositores/edit/"+ compositor.id) Editar 
                            a.w3-button.w3-red(href="/compositores/delete/"+ compositor.id) Delete

        footer.w3-container.w3-teal
            address Gerado por EngWeb2024 em #{data}